@model FriendsMess.ViewModels.MealViewModel
@{
    ViewBag.Title = "Update meals";
}
<div>
    <h2 style="text-align: center;color: darkred">Update meals</h2>
    @if (Model.Members.Count > 0)
    {
        using (Html.BeginForm("Save", "Update"))
        {
            
            <div style="float: left; width:50%; margin-left: 10%; padding-bottom: 20px;">
                @{
                    var i = 0;
                }
                <table>
                    <tr>
                        <td style="font-weight: bold; padding-right: 50px;">Members</td>
                        <td style="text-align: center;font-weight: bold">Meals</td>
                    </tr>
                    @foreach (var member in Model.Members)
                    {
                        <tr>
                            <td style="padding-right: 5px;">
                                @member.Name
                            </td>
                            <td>
                                @{
                                    @Html.DropDownListFor(m => m.Meals[i].MealNo, new SelectList(new List<int>() {2, 1, 0, 3, 4, 5, 6, 7, 8, 9, 10}), new {@class = "form-control"})
                                    Model.Meals[i].MemberId = member.Id;
                                }
                            </td>
                            <td>
                                @Html.ValidationMessageFor(m => m.Meals[i].MealNo)
                                @Html.HiddenFor(m => m.Meals[i].MemberId, new {value = member.Id})
                                @{
                                    i++;
                                }
                            </td>
                        </tr>

                    }
                </table>
            </div>
            <div style="float: right; margin-right: 20%; width: 20%; padding-bottom: 10px;">
                <div class="form-group">
                    @Html.LabelFor(m => m.Day)
                    @Html.DropDownListFor(m => m.Day, new SelectList(Model.Days, "Id", "Id"), "Select day no", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Day)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Expense)
                    @Html.TextBoxFor(m => m.Expense, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Expense)
                </div>
                <div>
                    <label><b>Responsible Member</b></label>
                    @Html.DropDownListFor(m => m.ResponsibleMem, new SelectList(Model.Members, "Name", "Name"), "Select Responsible Member", new {@class = "form-control"})
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Save</button>

            </div>

        }
    }
    else
    {
        <div style="margin-top: 10%;" class=" jumbotron">
            <h3 style="color:red;">Add members first !</h3>
        </div>
    }
</div>
