@using System.Globalization
@model List<FriendsMess.Models.OtherExpense>
@{
    ViewBag.Title = "Others";
    Layout = "~/Views/Shared/_ViewOnly.cshtml";
    int i = 1;
}
<h2 style ="text-align: center;margin-top: 10px;">Other Expenses</h2>
@if (Model.Count > 0)
{
    var totalOther = 0;
    <div>
        <table id="OthersTbl" class="table table-hover">
            <thead>
            <tr style="background-color: #483d8b; color: #00ced1">
                <th>No</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var extra in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@extra.Name</td>
                    <td>@extra.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("en-BD"))</td>
                    <td>@extra.Description</td>
                    @try
                    {
                        totalOther += extra.Amount;
                    }
                    catch (Exception e)
                    {

                    }
                    @{
                        i++;
                    }
                </tr>
            }
            <tr >
                <td></td>
                <td style="text-align: right">Total:</td>
                <td style="font-weight: bold">@totalOther.ToString("C2", CultureInfo.CreateSpecificCulture("en-BD"))</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <div style="margin-top: 7%; background: brown" class=" jumbotron">
        <h3>No extra expenses yet !</h3>
    </div>
}