@model List<FriendsMess.Models.DayNo>
@{
    ViewBag.Title = "Expense";
}
<h2 style="text-align: center; color: darkred;">Daily Expenses</h2>
@if (Model.Count > 0)
{
<table class="table table-bordered table-hover">
    <thead>
    <tr class="danger">
        <th>Day</th>
        <th>Expense</th>
        <th>Total Meals</th>
        <th>Daily Meal Rate</th>
        <th>Responsible Member</th>
    </tr>
    </thead>
    <tbody>
    @{
        var totalExpense = 0;
        var totalMeal = 0;
    }
    @foreach (var day in Model)
    {
        <tr>
            <td>@day.DayNumber</td>
            <td>@day.Expense</td>
            <td>@day.TotalMeal</td>
            @{
                
                float mealRate;
                try
                {
                    totalExpense += (int) day.Expense;
                    totalMeal += (int) day.TotalMeal;
                    mealRate = (float) day.Expense / (float) day.TotalMeal;
                }
                catch (Exception e)
                {
                    mealRate = 0;
                }

            }
            <td>@mealRate.ToString("C2")</td>
            <td>@day.ResponsibleMember</td>
        </tr>
    }
    <tr>
        @{
            float averageMealRate;
            try
            {
                averageMealRate = (float) totalExpense / (float) totalMeal;
            }
            catch (Exception e)
            {
                averageMealRate = 0;
            }
            
        }
        <td style="text-align: right">Total:</td>
        <td style="font-weight: bold">@totalExpense.ToString("C0")</td>
        <td style="font-weight: bold">@totalMeal</td>
        <td style="text-align: right">Average Meal Rate:</td>
        <td style="font-weight: bold">@averageMealRate.ToString("C4")</td>
    </tr>
    </tbody>
</table>
}
else
{
    <div style="margin-top: 10%;" class="jumbotron">
        <h3 style="color:red;">No expenses to show !</h3>
        
    </div>
}
