@using FriendsMess.Controllers
@using Microsoft.AspNet.Identity
@model FriendsMess.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    var home = new HomeController();
    var mealRate = home.GetMealRate(User.Identity.GetUserName());    
}
<span>
    <button class="btn btn-danger js-clearMonth" style="float:right;margin-top:10px;">Start New Month</button>
</span>
<h2 style="text-align: center; color:crimson">Meal Rate:@mealRate.ToString("C2")</h2>
@if (Model.Members.Count > 0)
{
    <div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="danger">
                <th>Name</th>
                <th>Deposit</th>
                <th>Meal Cost</th>
                <th>Ohter Expenses</th>
                <th>Balance</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var member in Model.Members)
            {

                var totalMeal = home.GetTotalMeal(member.Id);
                var mealExpense = home.GetMealRate(User.Identity.GetUserName()) * totalMeal;
                var otherExpense = home.GetOtherExpense(User.Identity.GetUserName());
                var balance =member.Deposit- (mealExpense + otherExpense);

                <tr class="primay">
                    <td>@member.Name</td>
                    <td>@member.Deposit.ToString("C0")</td>
                    <td>@mealExpense.ToString("C2")</td>
                    <td>@otherExpense.ToString("C2")</td>
                    <td>@balance.ToString("C2")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
else
{
    <div class="jumbotron">
        <ul>
            <li>Add some members with deposit in Member menu</li>
            <li>Update their meals with total expense in Update Menu</li>
            <li>Add extra expenses in Ohters Menu</li>
            <li>Come back Home and see all dynamic calculations</li>
        </ul>
    </div>
}
@section scripts{
    <script>
        $(document).ready(function() {
            $(".js-clearMonth").on("click",
                function () {
                    var button = $(this);
                    bootbox.confirm("This will erase all meals and this has other consequences too. Are you sure you want to clear current month?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: '@Url.Action("NewMonth","Home")',
                                    success:function() {
                                        window.location.href = '@Url.Action("Index","Home")';
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}
