@using FriendsMess.Controllers
@model FriendsMess.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    var home = new HomeController();
    float mealRate = home.GetMealRate();    
}

<span>@Html.ActionLink("Start New Month", "NewMonth", "Home", new { @class = "btn btn-danger" ,style="float:right;margin-top:5px;"})
</span>
<h2 style="text-align: center; color:crimson">Meal Rate:@mealRate</h2>
<div>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Deposit</th>
            <th>Meal Cost</th>
            <th>Ohter Expenses</th>
            <th>Total Due</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var member in Model.Members)
        {
            
                var totalMeal = home.GetTotalMeal(member.Id);
                var mealExpense = home.GetMealRate() * totalMeal;
                var otherExpense = home.GetOtherExpense();
                var totalDue = (mealExpense + otherExpense) - member.Deposit;

                <tr>
                    <td>@member.Name</td>
                    <td>@member.Deposit</td>
                    <td>@mealExpense</td>
                    <td>@otherExpense</td>
                    <td>@totalDue</td>
                </tr>
            }
        </tbody>
    </table>
</div>