@using System.Globalization
@using FriendsMess.Migrations
@model List<FriendsMess.Models.Member>
@{
    ViewBag.Title = "Member";
    var monthNo = Session["MonthNo"];
}

<span style="float:right;margin-top:10px;">
    @Html.ActionLink("New Member", "New", "Members", null, new { @class = "btn btn-primary" })
</span>
<h2 style="text-align: center; color: white;">Members</h2>
@if (Model.Count > 0)
{
<table id="member" class="table table-bordered table-hover">
    <thead>
    <tr class="text-success">
        <th>Name</th>
        <th>Current Deposit</th>
        <th>Add Deposit</th>
        <th>Mobile Number</th>
        <th>Meals</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var member in Model)
    {
        int currentDeposit;
        <tr>
            <td><span><img src="~/Images/@member.ImagePath" onError="this.onerror = null; this.src = '/Images/meal.jpg';" style=" border-radius:50%; border:1.8px solid #00fa9a" width="50px;" height="50px;" /></span>
             @Html.ActionLink(member.Name, "Edit", new { id = member.Id,monthNo })</td>
            @try
            {
                currentDeposit = member.Deposits.SingleOrDefault(m => m.MonthNo == (int)Session["MonthNo"]).Amount;

            }
            catch (Exception e)
            {
                currentDeposit = 0;
            }
            <td>@currentDeposit.ToString("C0", CultureInfo.CreateSpecificCulture("en-BD"))</td>
            <td>@Html.ActionLink("Add", "AddDeposit", new {id = member.Id})</td>
            <td>@member.MobileNumber</td>
            <td>@Html.ActionLink("View Meals", "ViewMeal", new {id = member.Id})</td>
            <td>
                <button data-member-id="@member.Id" class="btn btn-danger js-delete">Delete</button>
            </td>
        </tr>

    }
    </tbody>
</table>
    
}
else
{
    <div style="margin-top: 7%;background: brown" class="jumbotron">
        <h3>No Members yet !</h3>
    </div>
}
@section scripts{
    <script>
        $(document).ready(function () {

            $("#member").DataTable();
            $("#member .js-delete").on("click",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this member?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: '@Url.Action("Delete","Members")',
                                    data: { id: button.attr("data-member-id") },
                                    success:function() {
                                        window.location.href = '@Url.Action("Index","Members")';
                                    }
                            });
                            }
                        });
                });
        });
    </script>
}
