@using System.Globalization
@model List<FriendsMess.Models.OtherExpense>
@{
    ViewBag.Title = "Ohters";
    int i = 1;
}

<span style="float:right;margin-top:10px;">
    @Html.ActionLink("Expense", "New", "Extra", "", new { @class = "btn btn-default glyphicon glyphicon-plus" })
</span>
<h2 style ="text-align: center;margin-top: 10px;">Other Expenses</h2>
@if (Model.Count > 0)
{
    var totalOther = 0;
<div>
    <table id="OthersTbl" class="table table-hover">
        <thead>
        <tr style="background-color: #483d8b; color: #00ced1">
            <th>No</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var extra in Model)
        {
            <tr>
                <td>@i</td>
                <td>@Html.ActionLink(extra.Name, "Edit", new {id = extra.Id})</td>
                <td>@extra.Amount.ToString("C0", CultureInfo.CreateSpecificCulture("en-BD"))</td>
                <td>@extra.Description</td>
                @try
                {
                    totalOther += extra.Amount;
                }
                catch (Exception e)
                {

                }
                
                <td><button data-extra-id=@extra.Id class="btn btn-danger js-clearExtra glyphicon glyphicon-trash"></button></td>
                @{
            i++;
                }
            </tr>
        }
        <tr >
            <td></td>
            <td style="text-align: right">Total:</td>
            <td style="font-weight: bold">@totalOther.ToString("C2", CultureInfo.CreateSpecificCulture("en-BD"))</td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
}
else
{
    <div style="margin-top: 7%;background: brown" class=" jumbotron">
        <h3>No extra expenses yet !</h3>
    </div>
}
@section scripts{
    <script>
        //$(document).ready(function() {
        //    $("#OthersTbl").DataTable();
        //});
        $(".js-clearExtra").on("click",
            function() {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this extra expense?",
                    function(result) {
                        if (result) {
                            $.ajax({
                                url: '@Url.Action("Delete", "Extra")',
                                data: { id: button.attr("data-extra-id") },
                                success: function() {
                                    window.location.href = '@Url.Action("Index", "Extra")';
                                }
                            });
                        }
                    });
            });
    </script>
}




