@model List<FriendsMess.Models.Notice>
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span style="float:right;margin-top:10px;">
    @Html.ActionLink("Notice", "AddNotice", "Extra", null, new { @class = "btn btn-default glyphicon glyphicon-plus" })
</span>

<h2 style="text-align: center;margin-top: 10px;">@ViewBag.Message</h2>
@if (Model.Count > 0)
{
    <div class="jumbotron" style="margin-top: 0%; background-color: crimson">
        <hr />
        @foreach (var notice in Model)
        {
            <div>
                <div style="float: right">
                    @Html.ActionLink("Edit", "EditNotice", "Extra", new { id = notice.Id }, new { @class = "btn btn-warning glyphicon glyphicon-pencil" })
                    <button data-member-id="@notice.Id" class="btn btn-default js-delete glyphicon glyphicon-trash"></button>
                </div>
                <div>
                    <b style="color: black">@notice.Name</b>
                    @notice.Details
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />

        }


    </div>
}
else
{
    <div style="margin-top: 7%;background: brown" class="jumbotron">
        <h3>No Notices for now !</h3>
    </div>
}

@section scripts{
    <script type="text/javascript">

        $(document).ready(function() {
            $(".js-delete").on("click",
                function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete this notice?",
                        function (result) {
                            if (result) {
                                $.ajax({
                                    url: '@Url.Action("DeleteNotice","Extra")',
                                    data: { id: button.attr("data-member-id") },
                                    success: function () {
                                        window.location.href = '@Url.Action("Notice","Extra")';
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}

